<div
    data-th-classappend="*{'text-'+type+'-800'}"
    data-th-object="${session.message}"
    data-th-if="${session.message != null}"
    data-th-fragment="messageBox" 
    class="flex rounded-2xl items-start sm:items-center p-4 mb-4 text-sm text-fg-brand-strong rounded-base bg-brand-softer border border-brand-subtle" role="alert">

  <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-width="2" d="M10 11h2v5m-2 0h4"/>
  </svg>

  <p>
    <span data-th-text="*{content}"></span>
  </p>

  <!-- removes message after displaying -->
  <th:block data-th-text="${@sessionHelper.removeMessage()}"></th:block>

</div>